<body>
    <footer>
        <div class="container-footer">
            <div class="row-footer">
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Site</h4>
                    <ul>
                        <li><a href=""> Home </a></li>
                        <li><a href="/contato"> Contato </a></li>
                        <li><a href="/quem-somos"> Sobre o time </a></li>
                        <li><a href="/lojas"> Lojas </a></li>
                        <li><a href="/parceiros"> Parceiros </a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Outros</h4>
                    <ul>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="https://www.amazon.com.br/s?k=amazon+fisher+price&adgrpid=106755666653&hvadid=457930166595&hvdev=c&hvlocphy=9195762&hvnetw=g&hvqmt=e&hvrand=16417534251562020267&hvtargid=kwd-338375813928&hydadcr=14658_10954476&tag=hydrbrgk-20&ref=pd_sl_7d3rfd265l_e">Mais ofertas</a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="/termos">Termos e Condições</a></li>
                        <li><a href="/privacidade">Declarações de privcidade</a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Inscreva-se </h4>
                    <div class="form-sub">
                        <form>
                            <input type="email" placeholder="Digite o seu e-mail" required>
                            <button>subscrever</button>
                        </form>
                    </div>
                </div>
                <!--end footer col-->
            </div>
        </div>
    </footer>
  </body>
