<main>
    <h1>CONHEÇA NOSOS PARCEIROS</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore ad totam fugit minus dolore vel nostrum maxime possimus, amet ut quidem debitis ratione adipisci repellat animi, officia non suscipit vero.</p>
    <div id="container-parceiros" >
        <div class="p1">
            <img src="/logo-happy.png" alt="">
            <img src="/ameri.png" alt="">
            <img src="/fisher.png" alt="">
            <img src="/mercado-libre.png" alt="">
        </div>
        <div class="p1">
            <img src="/armarinhos.png" alt="">
            <img src="/shoope.png" alt="">
            <img src="/ali.png" alt="">
            <img src="/amazon.png" alt="">
        </div>
    </div>

    <article>
       
    <h2>Seja um parceiro</h2>
    <p>A sua organização social ou empresa está alinhada com o nossos valores?</p>
    <button><a href="">Entre em contato</a></button>
    </article>


</main>