<main>
    <h1>QUEM SOMOS</h1>
<div class="img-text">
    <img src="/empresarios.jpg" alt="">
    <p>Somos uma equipe da Etec Horácio Augusto da Silveira, dedicada a desenvolver um projeto inovador que promove a educação de qualidade, alinhado aos Objetivos de Desenvolvimento Sustentável (ODS). Nosso foco é criar soluções que impulsionem o aprendizado acessível e inclusivo, impactando positivamente a comunidade escolar e além.</p>
</div>

<div class="img-text" >
    <p>Somos uma equipe da Etec Horácio Augusto da Silveira, dedicada a desenvolver um projeto inovador que promove a educação de qualidade, alinhado aos Objetivos de Desenvolvimento Sustentável (ODS). Nosso foco é criar soluções que impulsionem o aprendizado acessível e inclusivo, impactando positivamente a comunidade escolar e além.</p>
    <img src="/empresarios2.jpg" alt="">
</div>

    <article>
        <div><img src="/missao-icon.png" alt="">
            <h2>Missão</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero velit et illo rem? Quasi asperiores, natus animi accusamus similique ipsum nulla atque esse voluptas incidunt est hic consequatur explicabo harum?</p>
            </div>
            <div><img src="/viison.png" alt="">
                <h2>Visão</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero velit et illo rem? Quasi asperiores, natus animi accusamus similique ipsum nulla atque esse voluptas incidunt est hic consequatur explicabo harum?</p>
                </div>
                <div><img src="/valores-icon.png" alt="">
                    <h2>Valores</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero velit et illo rem? Quasi asperiores, natus animi accusamus similique ipsum nulla atque esse voluptas incidunt est hic consequatur explicabo harum?</p>
                    </div>
    </article>
</main>