<div id="main" >
    <aside>
        <h1>Fellow Fox</h1>
        <p id="desc" >A raposa mais inteligente
            <br>
            <span>Do Brasil</span>
        </p>
        <button id="cta" >Garantir o meu</button>
    </aside>
    <article>
        <img src="/aaaaaaaaaaaaaaaa.png" />
    </article>
</div>

<button id="como"> Como contribuimos para a ODS 2030</button>

<div id="ods">
    <p id="ods-text" >
        Contribuímos para os Objetivos de Desenvolvimento Sustentável
        (ODS) 2030 ao integrar tecnologia inovadora e pedagogia lúdica para
        transformar o aprendizado infantil. Nosso projeto aborda diretamente o
        ODS 4, que busca garantir uma educação inclusiva, equitativa e de qualidade,
        promovendo um ambiente de aprendizagem personalizado e motivador para crianças
        entre 5 e 7 anos.
    </p>
    <img src="/th.jpg" alt="">
</div>

<button id="como"> Acompanhe nossos produtos </button>

<div id="bonecos" >
    <aside class="bonecosImg" >
        <img src="/raposa.png" alt="">
        <H1>LULU</H1>
    </aside>
    <aside class="bonecosImg" >
        <img src="/raposa.png" alt="">
        <h1>LUCY</h1>
    </aside>
</div>

<p id="descbonecos" >Conheça Lulu e Lucy, os encantadores irmãos brinquedos do Fellow Fox que tornam o aprendizado uma verdadeira aventura! Juntos, eles criam um ambiente de aprendizado lúdico e envolvente,
    estimulando a curiosidade e a confiança dos pequenos enquanto
    exploram o mundo da matemática.</p>

<article id="bene" >
  <h2>BENEFÍCIOS</h2>
  <div id="icons-section">
    <div class="section-icons-benefity">
      <img src="app-icon.png" alt="">
      <p class="section-text" >Aplicativo</p>
    </div>
    <div class="section-icons-benefity">
      <img src="aprendizado-icon.png" alt="">
      <p class="section-text" >Aprendizado <br> Divertido</p>
    </div>
    <div class="section-icons-benefity">
      <img src="qualidade.png" alt="">
      <p class="section-text" >Técido de<br>Qualidade</p>
    </div>
    <div class="section-icons-benefity">
      <img src="brinquedo-icon.png" alt="">
      <p class="section-text" >Materiais <br> Extras</p>
    </div>
    <div class="section-icons-benefity">
      <img src="durabilidade-icon.png" alt="">
      <p class="section-text" >Durabilidade</p>
    </div>


  </div>

</article>
